.filterWrapp {
  padding: 20px;
}

.filterLink {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

.filterLink:focus {
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 0 1px #333;
  transition: all 0.15s ease-in 0s;
}

.filterLink:hover {
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 0 1px #333;
  transition: all 0.15s ease-in 0s;
}

.filterForm {
  display: flex;
    align-items: center;
    justify-content: center;
}

.filterInput {
  width: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.filterInput:focus {
  border-color: #333;
  box-shadow: 0 0 0 1px #333;
}

.filterBtn {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
}

.filterBtn:focus {
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 0 1px #333;
  transition: all 0.15s ease-in 0s;
}

.filterBtn:hover {
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 0 1px #333;
  transition: all 0.15s ease-in 0s;
}
